body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.player {
    background-color: #ac9d128d;
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.controls {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    background-color: #ff5733;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type="range"] {
    width: 100px;
    cursor: pointer;
}

#currentTime, #duration {
    font-size: 0.9rem;
    margin: 0 5px;
}
